* {
    box-sizing: border-box;
}

html {
    --black: rgba(16, 16, 16);
    --light-black: #1a1a1a;
    --white: #f7f7f7;
    --red: #d33333;
    --background: #ebebeb;

    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    scroll-behavior: smooth;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* BODY */
body {
    background: var(--background);
    overflow-x: hidden;
}

/* SCROLLBAR */
/* ::-webkit-scrollbar {
    width: 16px;
}
  
::-webkit-scrollbar-track {
    width: 16px;
}
   
::-webkit-scrollbar-thumb {
    background: #d33333; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
} */