#header {
    display: flex;
    align-items: center;
    padding: 2.5vh 0;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
}

#header a,
#header span,
#header .name {
    font-size: 16px;
    font-weight: 500;
    color: var(--red);
    transition: 200ms;    
}

#header .name {
    color: var(--black);
    text-decoration: underline;
    margin-left: 4vw;
    cursor: default;
}

#header > div {
    display: flex;
    margin-right: 4vw;
}

#header > div .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#header > div .links:first-of-type {
    margin-right: 20px;
}
/* -------------- BANNER */

#banner {
    position: relative;
    height: 60vh;
    background: var(--banner);
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#banner .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 88.75vw;
    height: 50vw;
    margin: 25vh 0 0 0;
}

#banner .img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#banner .scroll {
    display: flex;
    align-items: center;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;

    border-right: 10px solid var(--red);
    border-left: 10px solid var(--red);
}

#banner .hello,
#banner .scroll .marquee {
    font-size: 24px;
    font-weight: 900;
    color: var(--red);
    width: max-content;
    margin: 0 auto;
}

#banner .hello {
    text-align: left;
    z-index: 3;
}

#banner .hello span,
#banner .scroll .marquee {
    color: transparent;
    -webkit-text-stroke: 1.4px var(--red);
}

#banner .scroll .marquee {
    z-index: -1;
}

#banner .scroll .marquee1 {
    animation: marquee 60s linear infinite;
}

#banner .scroll .marquee2 {
    animation: marquee2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
}
/* -------------- MAIN SKILLS */

#skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--black);
    padding: 5vh 0;
}

#skills .red {
    color: var(--red);
}

#skills .summary {
    padding-bottom: 5vh;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 2px;
}

#skills > .separator {
    width: 16vw;
    margin: 0 auto;
    height: 6px;
    background-color: var(--black);
    margin-bottom: 30px;
}

#skills .skills {
    width: 85vw;
    padding-bottom: 30px;
    margin: 0 auto;
}

#skills .skills > h2 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 2vh;
    opacity: 0.5;
}

#skills .skills ul li {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    list-style: none;
    padding-bottom: 4px;
    line-height: 150%;
}

#skills .skills ul li:last-of-type {
    padding-bottom: 0;
}

/* -------------- MAIN PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    background-color: var(--light-black);
    padding: 10vh 0;
    width: 100%;
}

#projects > h2 {
    text-align: center;
    text-decoration: underline;
    color: var(--white );
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10vh;
}

#projects .project-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 40vh;
}

#projects .projectOne {
    margin-bottom: 10vh;
}

#projects .projectTwo {
    margin-bottom: 10vh;
}

#projects .project-wrapper a img,
#projects .project-wrapper a .project-content {
    position: absolute;
    top: -0.5px;
    left: 0;
    width: 100%;
    height: 100%;
}   

#projects .project-wrapper a .project-content {
    background-color: #555555b3;
    opacity: 0;
    transition: 300ms ease-in-out;
    animation: test 300ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .project-wrapper:hover a .project-content,
#projects .project-wrapper.active a .project-content {
    opacity: 1;
}

#projects .project-wrapper a img {
    object-fit: cover;
}

#projects .project-wrapper a .project-content .text {
    font-weight: 500;
    font-size: 2rem;
    color: var(--white);
    transform: translateY(50px);
    transition: 300ms;
}

#projects .project-wrapper:hover a .project-content .text, 
#projects .project-wrapper.active a .project-content .text {
    transform: translateY(0px);
}

/* -------------- CONTACT */
#contact {
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    color: var(--black);
    max-width: 100%;
    padding: 10vh 10vw
}

#contact h2 {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 5vh;
}

#contact h2 span {
    color: var(--red);
}

#contact .contact-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#contact .contact-links div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#contact .contact-links div h3 {
    font-size: 12px;
    padding-bottom: 16px;
    opacity: 0.5;
    text-transform: uppercase;
}

#contact .contact-links div a {
    width: max-content;
    padding-bottom: 16px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    transition: 300ms ease-in-out;
}

#contact .contact-links div a:hover {
    opacity: 0.5;
}

#contact .contact-links div a:last-child {
    padding-bottom: 0; 
}
/* -------------- ABOUT */

#about {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    height: max-content;
    width: 100%;
}

#about .citation,
#about .aboutOne,
#about .aboutTwo {
    width: 80%;
    margin: 0 auto;
    color: var(--red);
    font-size: 14px;
    font-weight: 400; 
    letter-spacing: 2px;
}

#about .aboutOne span,
#about .aboutTwo span {
    color: var(--red);
}

#about .citation {
    background-color: var(--light-black);
    padding: 16px;
    margin-bottom: 5vh;
}

#about .wrapperTxtImg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    align-items: center;
}

#about .wrapperTxtImg .img-wrapper {
    position: relative;
    width: 40vw;
    height: 61.25vw;
    justify-self: right;
    margin-right: 2.5vw;
}

#about .wrapperTxtImg .img-wrapper::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--red);
}

#about .wrapperTxtImg .img-wrapper .avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s ease-in-out;
    background-color: var(--background);
} 

#about .wrapperTxtImg .img-wrapper .avatar:hover {
    opacity: 0;
}

#about .wrapperTxtImg .aboutOne {
    margin-left: 2.5vw;
    width: 35vw;
    z-index: -1;
    color: var(--black);
}

#about .aboutTwo {
    margin: calc(5vh + 10px) auto 0 auto;
    color: var(--black);
}

#about .copyright {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 10px;
    opacity: 0.5;
}

/* -------------- REVEALS */
.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 500ms ease-in-out;
}

.reveal.revealed {
    transform: translateY(0);
    opacity: 1;
}

.contactRev {
    transform: translateX(-100%);
    opacity: 0;
}

.contactRev.contactRevd {
    transform: translateX(0);
    animation: fade 600ms ease-out;
    opacity: 1;
}

@keyframes fade {
    from { transform: translateX(-100px); }
    to { transform: translateX(0); }
  }

/* -------------- MEDIA QUERIES */
@media screen and (min-width: 375px) {
    #banner .hello,
    #banner .scroll .marquee {
        font-size: 30px;
    }

    #about > .info {
        font-size: 17px;
    }

    #skills .summary,
    #skills .skills > h2,
    #skills .skills ul li {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {    
    #banner .img-wrapper {
        margin: 18vh 0 0 0;
    }

    #contact h2 {
        font-size: 24px;
    }

    #contact .contact-links div h3 {
        font-size: 18px;
    }

    #contact .contact-links div a {
        font-size: 20px;
    }

    #about .citation,
    #about .aboutOne,
    #about .aboutTwo {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #banner .img-wrapper {
        width: 106.5vh;
        height: 60vh;
        margin: 14vh 0 0 0;
    }

    #banner .hello,
    #banner .scroll .marquee {
        font-size: 40px;
    }

    #banner .hello span,
    #banner .scroll .marquee {
        color: transparent;
        -webkit-text-stroke: 2px var(--red);
    }

    #skills .summary,
    #skills .skills > h2,
    #skills .skills ul li {
        font-size: 18px;
    }

    #about .citation,
    #about .aboutOne,
    #about .aboutTwo {
        font-size: 24px;
    }

    #about .wrapperTxtImg .img-wrapper {
        width: 40vh;
        height: 61.25vh;
        max-width: 20vw;
        max-height: 30.625vw;        ;
    }

    #about .copyright {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1366px) {
    
}