#header {
    min-height: 20vh;
    padding: 2.5vh 0;
    text-align: center;
    border-bottom: 2px solid var(--red);
}

#header a,
#header p {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);

    transition: 200ms;
}

#header > div {
    display: flex;
    margin: 0 auto;
    width: min-content;
}

#header p {
    cursor: default;
    padding: 0 8px;
}

#header a:hover {
    color: var(--red);
}

#header > a + a,
#header > div + a {
    margin-top: 5px;
}

#header > a:nth-child(2) {
    padding: 0 40px 0 0;
}

#header > a:nth-child(3) {
    padding: 0 0 0 40px;
}

#header > a:nth-child(4) {
    padding: 0 49px 0 0;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* ----------------- BANNER */
#banner {
    position: relative;
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-areas:
        "A"
        "B"
        "C"
    ;
    border-bottom: 2px solid var(--red);
}

#banner::after {
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: -0.5px;
    right: 0;
    position: absolute;
    z-index: -1;   

    background-image: url(/public/images/gits-typing.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ----------------- MARQUEE LOOP */

.marquee-scroll { 
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-weight: 900;
    color: var(--red);
    white-space: nowrap;
    font-size: 7rem;
}

.marquee {
    will-change: transform;
}

.marqueeA {
    animation: marquee 60s linear infinite;
    animation-delay: -60s;
}
  
.marqueeB {
    color: transparent;
    -webkit-text-stroke: 3px var(--red);
    animation: marquee 60s linear infinite;
    animation-direction: reverse;
    animation-delay: -60s;

}

.marqueeC {
    animation: marquee 60s linear infinite;
    animation-delay: -60s;
}

.marqueeC span {
    color: transparent;
    -webkit-text-stroke: 3px var(--red);
}

.marqueeA:nth-child(2) {
    animation: marquee2 60s linear infinite;
    animation-delay: -30s;
}

.marqueeB:nth-child(2) {
    animation: marquee2 60s linear infinite;
    animation-delay: -30s;
    animation-direction: reverse;
}

.marqueeC:nth-child(2) {
    animation: marquee2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
}

/* -------------- MAIN SKILLS */
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    margin: 2.4rem auto;

    color: var(--black);
}

#skills .main-skills,
#skills .other-skills {
    text-align: center;
}

#skills .main-skills > h2,
#skills .other-skills > h2 {
    font-weight: 500;
    font-size: 2rem;
}

#skills .main-skills ul li,
#skills .other-skills ul li{
    list-style: none;
    font-weight: 500;
    font-size: 1.5rem;
}

/* -------------- MAIN PROJECTS */
#projects {
    background-color: var(--black);
    padding: 2.4rem 2.5%;
}

#projects > h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2.4rem;
}

#projects .project-wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
}

#projects .project-wrapper a img,
#projects .project-wrapper a .project-content {
    position: absolute;
    top: -0.5px;
    left: 0;
    width: 100%;
    height: 100%;
}   

#projects .project-wrapper a .project-content {
    background-color: #555555b3;
    opacity: 0;
    transition: 300ms ease-in-out;
    animation: test 300ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .project-wrapper:hover a .project-content,
#projects .project-wrapper.active a .project-content {
    /* backdrop-filter: blur(5px); */
    opacity: 1;
}

#projects .project-wrapper a img {
    object-fit: cover;
}

#projects .project-wrapper a .project-content .text {
    font-weight: 500;
    font-size: 2rem;
    color: var(--white);
    transform: translateY(50px);
    transition: 300ms;
}

#projects .project-wrapper:hover a .project-content .text, 
#projects .project-wrapper.active a .project-content .text {
    transform: translateY(0px);
}

/* -------------- ABOUT */
#about {
    position: relative;
    display: flex;
    padding: 20vh 0;
    height: max-content;
}

#about > .info {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    
    max-width: 45vw;
    margin: 0 10vw 0 45vw;
}

#about .info > img {
    position: absolute;
    height: auto;
    max-width: 50vw;

    top: 10vh;
    left: 10vw;
    z-index: -1;
}

/* -------------- FOOTER */
#footer {
    width: 100%;
}

#footer .contact {
    background-color: var(--black);
    max-width: 80vw;
    padding: 5rem 5rem 20rem 5rem;
}

#footer .contact .contact-links {
    display: flex;
    flex-direction: column;
}

#footer .contact .contact-links > a {
    width: max-content;
    color: var(--white);
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    transition: 300ms ease-in-out;
}

#footer .contact .contact-links > a:last-child {
    padding-bottom: 0; 
}

#footer .contact .contact-links > a:hover {
    color: #f7f7f780;
}



/* -------------- MEDIA QUERIES */
@media screen and (min-width: 375px) {
    #about > .info {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) {
    #about > .info {
        font-size: 34px;
    }
}

@media screen and (min-width: 1024px) {
    #about > .info {
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px) {
    #about > .info {
        font-size: 48px;
    }
}

@media screen and (min-width: 1366px) {
    #about > .info {
        font-size: 62px;
    }
}