#header {
    display: flex;
    align-items: center;
    padding: 2.5vh 0;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
}

#header a,
#header .name {
    font-size: 16px;
    font-weight: 500;
    color: var(--red);
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; 
}

#header .name {
    color: var(--black);
    text-decoration: underline;
    margin-left: 4vw;
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header > div {
    display: flex;
    margin-right: 4vw;
}

#header > div .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#header > div .links:first-of-type {
    margin-right: 20px;
}

#header > div .links a:first-of-type {
    margin-bottom: 6px;
}
/* -------------- BANNER */

#banner {
    position: relative;
    height: 60vh;
    background: var(--banner);
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#banner .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 81.65vw;
    height: 46vw;
    margin-top: 38vh;
}

#banner .img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#banner .scroll {
    display: flex;
    align-items: center;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;

    border-right: 10px solid var(--red);
    border-left: 10px solid var(--red);
}

#banner .hello,
#banner .scroll .marquee {
    font-size: 24px;
    font-weight: 900;
    color: var(--red);
    width: max-content;
    margin: 0 auto;
}

#banner .hello {
    text-align: left;
    z-index: 3;
}

#banner .hello span,
#banner .scroll .marquee {
    color: transparent;
    -webkit-text-stroke: 1.4px var(--red);
}

#banner .scroll .marquee {
    z-index: -1;
}

#banner .scroll .marquee1 {
    animation: marquee 60s linear infinite;
}

#banner .scroll .marquee2 {
    animation: marquee2 60s linear infinite;
    animation-delay: -30s;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
}
/* -------------- MAIN SKILLS */

#skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--black);
    padding: 5vh 0;
}

#skills .red {
    color: var(--red);
}

#skills .summary {
    padding-bottom: 5vh;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 2px;
}

#skills > .separator {
    width: 16vw;
    margin: 0 auto;
    height: 6px;
    background-color: var(--black);
    margin-bottom: 30px;
}

#skills .skills {
    width: 85vw;
    padding-bottom: 30px;
    margin: 0 auto;
}

#skills .skills > h2 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 2vh;
    opacity: 0.5;
}

#skills .skills ul li {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    list-style: none;
    padding-bottom: 4px;
    line-height: 150%;
}

#skills .skills ul li:last-of-type {
    padding-bottom: 0;
}

/* -------------- MAIN PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    background-color: var(--light-black);
    padding: 10vh 0;
    width: 100%;
}

#projects > h2 {
    text-align: center;
    color: var(--white );
    letter-spacing: 12px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10vh;
}

#projects .project-wrapper {
    position: relative;
    display: flex;
    width: 80vw;
    height: 45vw;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
}

/* --------------- START OF PROJECT SLIDER */
#projects .project-wrapper .rocketq {
    overflow: hidden;
    display: flex;
    cursor: default;
}
#projects .project-wrapper .rocketq img {
    width: 80vw;
}

#projects .project-wrapper .rocketq #firstImg {
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}

#projects .project-wrapper .rocketq #firstImg.p1 {
    margin-left: 0;
}

#projects .project-wrapper .rocketq #firstImg.p2 {
    margin-left: -100%;
}

#projects .project-wrapper .rocketq #firstImg.p3 {
    margin-left: -200%;
}

#projects .project-wrapper .rocketq #firstImg.p4 {
    margin-left: -300%;
}

#projects .project-wrapper .arrowWrapper {
    position: absolute;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-between;
}  

#projects .project-wrapper .arrowWrapper a {
    color: var(--red);
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    padding: 0 12px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#projects .project-wrapper .arrowWrapper a:active {
    opacity: 0.5;
    -webkit-transition: 100ms ease;
    -moz-transition: 100ms ease;
    -ms-transition: 100ms ease;
    -o-transition: 100ms ease;
    transition: 100ms ease;
}
/* --------------- END OF PROJECT SLIDER */
#projects .project-wrapper > a,
#projects .project-wrapper > a img,
#projects .project-wrapper .project-content {
    width: 100%;
    height: 100%;
}

#projects .project-wrapper .project-content {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--red90);
    opacity: 0;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    animation: test 300ms;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects .project-wrapper:hover .project-content {
    opacity: 1;
}

#projects .project-wrapper .project-content h2 {
    color: var(--white);
    font-size: 40px;
    font-weight: 900;

    transform: translateY(50px);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

#projects .project-wrapper:hover .project-content h2 {
    transform: translateY(0px);
}

#projects .project-info {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10vh;
}

#projects .project-info h2,
#projects .project-info h3,
#projects .project-info h3 a {
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
}

#projects .project-info h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

#projects .project-info h3 {
    line-height: 1.2;
}

#projects .project-info a {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    line-height: 1.5;
}

#projects .project-info a:hover {
    opacity: 0.7;
}

#projects .project-info h3 span {
    color: var(--red);
}

#projects .project-info:last-of-type {
    margin-bottom: 0;
}

/* -------------- CONTACT */
#contact {
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    color: var(--black);
    max-width: 100%;
    padding: 10vh 10vw
}

#contact h2 {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 5vh;
}

#contact h2 span {
    color: var(--red);
}

#contact .contact-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#contact .contact-links div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#contact .contact-links div h3 {
    font-size: 12px;
    padding-bottom: 16px;
    opacity: 0.5;
    text-transform: uppercase;
}

#contact .contact-links div a {
    width: max-content;
    padding-bottom: 16px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    transition: 300ms ease-in-out;
}

#contact .contact-links div a:hover {
    opacity: 0.5;
}

#contact .contact-links div a:last-child {
    padding-bottom: 0; 
}
/* -------------- ABOUT */

#about {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    height: max-content;
    width: 100%;
}

#about .citation,
#about .aboutOne,
#about .aboutTwo {
    width: 80%;
    margin: 0 auto;
    color: var(--red);
    font-size: 14px;
    font-weight: 400; 
    letter-spacing: 2px;
}

#about .aboutOne span,
#about .aboutTwo span {
    color: var(--red);
}

#about .citation {
    background-color: var(--light-black);
    padding: 16px;
    margin-bottom: 5vh;
    color: var(--white);
}

#about .wrapperTxtImg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    align-items: center;
}

#about .wrapperTxtImg .img-wrapper {
    position: relative;
    width: 40vw;
    height: 61.25vw;
    justify-self: right;
    margin-right: 2.5vw;
}

#about .wrapperTxtImg .img-wrapper::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--red);
}

#about .wrapperTxtImg .img-wrapper .avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s ease-in-out;
    background-color: var(--background);
} 

#about .wrapperTxtImg .img-wrapper .avatar:hover {
    opacity: 0;
}

#about .wrapperTxtImg .aboutOne {
    margin-left: 2.5vw;
    width: 35vw;
    z-index: -1;
    color: var(--black);
}

#about .aboutTwo {
    margin: calc(5vh + 10px) auto 0 auto;
    color: var(--black);
}

#about .copyright {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 10px;
    opacity: 0.5;
}

/* -------------- REVEALS */
.reveal {
    transform: translateY(150px);
    opacity: 0;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}

.reveal.revealed {
    transform: translateY(0);
    opacity: 1;
}

/* -------------- MODAL */
#modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--light-black50);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; 
    visibility: visible;
    opacity: 1;
}

#modal.hidden {
    visibility: hidden;
    opacity: 0;
}
#modal iframe {
    background: var(--black);
    width: 80vw;
    height: 45vw;
}

/* -------------- MEDIA QUERIES */

@media screen and (min-width: 375px) {
    #banner .scroll {
        width: 220px;
    }

    #banner .hello,
    #banner .scroll .marquee {
        font-size: 30px;
    }

    #about > .info {
        font-size: 17px;
    }

    #skills .summary,
    #skills .skills > h2,
    #skills .skills ul li {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {   
    #banner {
        margin-bottom: 30vh;
    } 

    #banner .img-wrapper {
        margin-top: 36vh;
        width: 627.03px;
        height: 353.275px;
    }

    #projects .project-info h2,
    #projects .project-info h3,
    #projects .project-info h3 a {
        font-size: 20px;
    }

    #contact h2 {
        font-size: 20px;
    }

    #contact .contact-links div h3 {
        font-size: 16px;
    }

    #contact .contact-links div a {
        font-size: 20px;
    }

    #about .citation,
    #about .aboutOne,
    #about .aboutTwo {
        font-size: 20px;
    }

    #modal {
        padding-right: 16px;   /* COMPENSATION FOR NO SCROLLBAR */
    }

    #modal.hidden iframe {
        margin-right: -16px;   /* COMPENSATION FOR SCROLLBAR SHOWING UP */
    }

    body.modalActive {
        overflow-y: hidden;
        margin-right: 16px;   /* COMPENSATION FOR SCROLLBAR SHOWING UP */
    }
}

@media screen and (min-width: 1024px) {
    #banner .scroll {
        width: 300px;
    }

    #banner .hello,
    #banner .scroll .marquee {
        font-size: 40px;
    }

    #banner .hello span,
    #banner .scroll .marquee {
        color: transparent;
        -webkit-text-stroke: 2px var(--red);
    }

    #skills .summary,
    #skills .skills > h2,
    #skills .skills ul li {
        font-size: 18px;
    }

    #projects .project-wrapper {
        height: 70vh;
        width: 124.444vh;
    }

    #projects .project-wrapper .rocketq img {
        height: 70vh;
        width: 124.444vh;
    }

    #projects .project-info {
        width: 124.444vh;
    }

    #projects .project-wrapper .arrowWrapper {
        position: absolute;
        display: flex;
        align-self: flex-end;
        width: 100%;
        padding-bottom: 20px;
        justify-content: center;
    }  
    
    #projects .project-wrapper .arrowWrapper a {
        font-size: 50px;
    }

    #about .citation,
    #about .aboutOne,
    #about .aboutTwo {
        font-size: 20px;
        max-width: 60vw;
    }

    #about .wrapperTxtImg .img-wrapper {
        width: 40vh;
        height: 61.25vh;
        max-width: 20vw;
        max-height: 30.625vw;        ;
    }

    #about .copyright {
        font-size: 14px;
    }

    #modal iframe {
        background: var(--black);
        height: 70vh;
        width: 124.444vh;
    }
}